*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color:  #34c358;
}
h1{
  height: 100px;
  position: relative;
  top: calc( 100% / 2 - 50px );
}
